.git
.github
.vs
.idea
**/.DS_Store

_output
_output*
_artifacts
_tests
_temp
_temp*
_rawPackage
_inno
_start

**/bin
**/obj
**/node_modules
**/TestResults
**/CoverageResults
**/*.user
**/*.suo

azure-pipelines.yml
distribution/windows
*.md
!LICENSE.md

coverage*.xml
coverage*.json
*.Result.xml
